<div class="col-xs-12">
  <li class="comment">
    <article class="comment-body">
      <div class="comment-image">
        <%= cl_image_tag message.user.avatar, class: "med-avatar" %>
      </div><!-- /.comment-image -->
      <div class="comment-content">
        <div class="comment-author">
          <%= link_to user_path(message.user) do %>
            <%= message.user.full_name %>
          <% end %>
        </div>
        <p>
          <%= message.content %>
        </p>
        <div class="comment-metadata">
          <p>
            <%= message.created_at.strftime("%A, %b %d") %>
          </p>
        </div>
      </div><!-- /.comment-content -->
    </article><!-- /.comment-body -->
  </li><!-- /.comment -->
</div>
