<%= simple_form_for @space, html: {class: 'form-listing'} do |f| %>
<div class="inner-box form">
  <div class="wrap-listing one-half">
    <%= f.input :title, label: I18n.t('list.title') %>
  </div><!-- /.wrap-listing -->
  <div class="wrap-listing one-half">
    <%= f.input :address, label: I18n.t('list.address') %>
  </div><!-- /.wrap-listing -->
  <div class="clearfix"></div>
  <div class="wrap-listing location">
    <%= f.input :description, label: I18n.t('list.description') %>
  </div><!-- /.wrap-listing -->
  <div class="clearfix"></div>
</div><!-- /.inner-box -->

<div class="inner-box form">
  <div class="wrap-listing one-half">
    <%= f.input :price_per_hour, label: I18n.t('list.price_per_hour') %>
  </div><!-- /.wrap-listing -->
  <div class="wrap-listing one-half">
    <%= f.input :price_per_day, label: I18n.t('list.price_per_day') %>
  </div><!-- /.wrap-listing -->
  <div class="clearfix"></div>
</div><!-- /.inner-box -->

<div class="inner-box form style2">
  <div class="amenities">
    <h3>Possible activities</h3>
    <% Property.activity_types.each do |prop| %>
    <label class="checkbox-inline">
      <input type="checkbox" name="space[properties][]" value="<%= prop.id %>" <%= 'checked' if @selected_props.include?(prop.id) %>> <%= t("properties.#{prop.content.downcase}") %>
    </label>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>

<div class="inner-box form style2">
  <div class="amenities">
    <h3>Features</h3>
    <% Property.features.each do |prop| %>
    <label class="checkbox-inline">
      <input type="checkbox" name="space[properties][]" value="<%= prop.id %>" <%= 'checked' if @selected_props.include?(prop.id) %>> <%= t("properties.#{prop.content.downcase}") %>
    </label>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div><!-- /.inner-box -->

<div class="inner-box form style2">
  <div class="amenities">
    <h3>Space Types</h3>
    <% Property.space_types.each do |prop| %>
    <label class="checkbox-inline">
      <input type="checkbox" name="space[properties][]" value="<%= prop.id %>" <%= 'checked' if @selected_props.include?(prop.id) %>> <%= t("properties.#{prop.content.downcase}") %>
    </label>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div><!-- /.inner-box -->


<div class="inner-box style3">
  <div class="one-half">
    <label>Your Business Images</label>
    <div class="browse">
      <p>Drag & Drop files here</p>
      <span>or</span>
      <div class="upload">
        <span>Browse files</span>
        <input type="file" name="upload-file">
      </div>
    </div>
  </div><!-- /.one-half -->
  <div class="one-half">
    <label>Your Business video(Optional)</label>
    <input type="text" value="" placeholder="ex: https://www.youtube.com/watch?v=XZiki0D_81U">
    <button class="submit-form-listing" type="submit">Save & Preview</button>
  </div><!-- /.one-half -->
  <div class="clearfix"></div>
</div><!-- /.inner-box -->
</form><!-- /.form-listing -->

<% end %>






