<li>
  <h1>
    <%= space.title %>
  </h1>
  <p>
    <%= space.address %>
  </p>
  <p>
    <%= space.capacity %>
  </p>
  <p>
    <%= space.price_per_hour %>
  </p>
  <%= render 'favorites/form', space: space, favorite: favorite %>
</li>
