<li>
    <%= link_to space_path(space) do %>
      <h1>
        <%= space.title %>
      </h1>
    <% end %>
  <p>
    <%= space.address %>
  </p>
  <p>
    <%= space.capacity %>
  </p>
  <p>
    <%= space.price_per_hour %>
  </p>
</li>
