<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">


      <%= simple_form_for :search, { url: root_path, method: 'get', id: 'query-form' } do |f| %>
      <%= f.input :from_price %>
      <%= f.input :to_price %>
      <%= f.input :capacity %>
      <div class="row">
        <h1>
         Features
       </h1>
       <% @features.each do |feature| %>
       <div class="col-xs-3">
        <label class="checkbox-inline">
          <input type="checkbox" name="search[properties][]" value="<%= feature.id %>"> <%= feature.content %>
        </label>
      </div>
      <% end %>
    </div>
    <div class="row">
      <h2>
        Space Types
      </h2>
      <% @space_types.each do |space_type| %>
      <div class="col-xs-3">
        <label class="checkbox-inline">
          <input type="checkbox" name="search[properties][]" value="<%= space_type.id %>"> <%= space_type.content %>
        </label>
      </div>
      <% end %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>



  <div class="col-xs-12 col-sm-6">
    <ul>
      <% @spaces.each do |space| %>
      <li>
        <h1>
          <%= space.title %>
        </h1>
        <p>
          <%= space.address %>
        </p>
        <p>
          <%= space.capacity %>
        </p>
        <p>
          <%= space.price_per_hour %>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
