<%= @space.title %>
<ul>
  <% @space.properties.each do |prop| %>
    <li>
      <%= prop.content %>
    </li>
  <% end %>
</ul>

<%= render 'favorites/form', space: @space, favorite: @favorite %>

<%= link_to 'Destroy', space_path(@space), method: :delete %>

<%= render 'bookings/form', space: @space, booking: @booking  %>

<h1>bookings</h1>
<ul>
  <%= render partial: 'bookings/booking', collection: @space.bookings, as: :booking %>
</ul>


<%= link_to "Talk to host", conversations_path(host_id: @space.user.id), method: :post %>
