<div class="col-sm-12">
  <div class="imagebox style2">
    <div class="box-imagebox">
      <div class="box-header">
        <div class="box-image">
          <img src="<%= image_path 'img-v2-01.png' %>" alt="">
        </div>
      </div><!-- /.box-header -->
      <div class="box-content">
        <div class="box-title ad">
          <%= link_to booking_path(booking) do %>
            <%= booking.space.title %>
            <% if booking.confirmed? %>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <div class="queue">
            <%= booking.state %>
          </div>
        </div>
        <ul class="rating">
          <li><%= booking.date.strftime("%A, %b %d") %></li>
          <li><%= booking.start_time.strftime("%l:%M %p") %> - <%= booking.end_time.strftime("%l:%M %p") %></li>
          <li><%= booking.space.address %></li>
        </ul>
        <div class="box-desc">
          <p>
            <%= booking.total_price %>
          </p>
          <p>
            <%= host_route? ? booking.user.full_name : booking.space.user.full_name%>
          </p>
          <p>
            <i class="fas fa-comments"></i>
            <%= link_to "Chat", conversations_path(host_id: host_route? ? booking.user.id : booking.space.user.id), method: :post %>
          </p>
        </div>
        <ul class="location">

          <% if policy(booking).cancelled? %>
            <li>
              <%= link_to 'Cancel', booking_state_path(booking, state: 'cancelled'), method: :patch %>
            </li>
          <% end %>

          <% if policy(booking).declined? %>
          <li>
            <%= link_to 'Decline', booking_state_path(booking, state: 'declined'), method: :patch %>
          </li>
          <% end %>

          <% if policy(booking).approved? %>
            <li>
              <%= link_to 'Approve', booking_state_path(booking, state: 'approved'), method: :patch %>
            </li>
          <% end %>

          <% if policy(booking).confirmed? %>
            <li>
              <%= link_to 'Confirm', booking_state_path(booking, state: 'confirmed'), method: :patch %>
            </li>
          <% end %>


          <% if booking.can_review?(current_user) %>
            <li>
              <%= link_to 'Add review', new_review_path(booking.class.to_s.downcase, booking.id) %>
            </li>
          <% end %>

        </ul>
      </div><!-- /.box-content -->
    </div><!-- /.box-imagebox -->
  </div><!-- /.imagebox style2 -->
</div><!-- /.col-sm-12 -->




