<li>
  <%= link_to booking.space.title, booking_path(booking)  %>
  <%= booking.start_time.strftime("%b %e, %l:%M %p") %>
  <b> -> </b>
  <%= booking.end_time.strftime("%b %e, %l:%M %p") %>
  <% if booking.user_id == current_user.id %>
    <%= link_to 'Cancel', booking_path(booking), method: :delete %>
  <% end %>
  <% if booking.space.user_id == current_user.id %>
    <% if booking.approved? %>
      <%= link_to 'Decline', update_state_booking_path(booking, state: 'declined'), method: :patch %>
    <% else %>
      <%= link_to 'Approve', update_state_booking_path(booking, state: 'approved'), method: :patch %>
    <% end %>
  <% end %>
  <% if booking.can_review?(current_user) %>
    <%= link_to 'Add review', new_review_path(booking.class.to_s.downcase, booking.id) %>
  <% end %>
</li>
